#name{
    color: purple;
}

ul{
    list-style: none;
}

li {
    text-align: center;
}

li a{
    color: red;
}

.imgStyle{
     border: 5px solid purple !important;
     padding: 5px;
     margin: auto;
}
